*
{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
    font-family: "poppins" sans-serif;
}
body
{
   overflow:auto;
}
.full-box
{
    display:flex;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-image: url(images/img11.jpg);
    background-size: cover;
    background-position: center;

}
.information
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:25vw;
    margin-left :10vw;
    margin-right:10vw;
}
.information h2
{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Bebas Neue", cursive;
    font-size: 50px;
    color:rgb(121, 91, 255);
    margin-left:0;
    width:25vw;
}
.information p
{
    font-family: "Caveat", cursive;
    font-style: normal;
    font-size: 20px;
    font-weight: 300;
    color:bisque;
}
.event-container
{   
    display : flex;
    justify-content: flex-end;
    align-items:flex-end;
    flex-direction:column; 
}
.grid-header
{
    width:52vw;
    font-family:"bebas neue", cursive;
}
h1
{
    position: relative;
    font-size: 40px;
    width:120px;
    right:500px;
    top:8vh;
    left:0;
    color:aquamarine;
}
h1::after
{   position:absolute;
    content:"";
    height:5px;
    width:100%;
    bottom:0;
    left:0;
    border-radius: 10px;
    background-image: linear-gradient(to right,blue,green);
    transition: 0.3s ease-in-out;
}
h1:hover::after
{
    width:0;
    transition: 0.3s ease-in-out;
   
}
h1:hover
{
    color: white;
    cursor: pointer;
}

.container
{
    margin:10vh 4vh 4vh 4vh;
    display: grid;
    grid-template-rows:8vh 8vh 8vh 8vh 8vh 8vh 8vh 8vh 8vh;
    grid-template-columns:5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw 5vw;
    grid-auto-flow: row;
    border-radius: 10px;
    gap : 2px;
    padding: 25px;
    background : transparent;
    backdrop-filter : blur(2vh);
    border : 2px solid rgb(84, 95, 95);
    border-radius: 2vh;
    box-shadow: 0 0 10px rgb(84, 95, 95);
    width : 50vw;
    height:80vh;
}

.event-card-1
{
    grid-row: 1/4;
    grid-column:1/5;
    border: 2px solid blue; 
    border-radius: 20px;
    position: relative;
    background-image: url(images/eventimg1.png);
    background-size: cover;
    background-position: center;
    animation:scrollx1 5s linear infinite alternate;
}
.event-card-1 a,.event-card-2 a,.event-card-3 a,.event-card-4 a,.event-card-5 a,.event-card-6 a,.event-card-7 a
{ 
    position : absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    text-decoration: none;
    z-index: 1;
    color : white;
    font-size: 20px;
    padding: 5px;
    transition: 0.3s ease-in-out;

}
.event-card-1 a::after,.event-card-2 a::after,.event-card-3 a::after,.event-card-4 a::after,.event-card-5 a::after,.event-card-6 a::after,.event-card-7 a::after
 {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 103%;
    height: 107%; 
    background-image: linear-gradient(to right, green,blue); 
    border-radius: 20px; 
    z-index: -1;     
}
.event-card-2
{
    grid-row: 1/4;
    grid-column:5/10;
    border: 2px solid blue; 
    border-radius: 20px;
    position: relative;
    background-image: url(images/eventimg2.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in-out;
    animation:scrollx1 5s linear infinite alternate;
}
.event-card-3
{
    grid-row: 4/7;
    grid-column:1/4;
    border: 2px solid blue; 
    border-radius: 20px;
    position: relative;
    background-image: url(images/eventimg3.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in-out;
    animation:scrollx2 5s linear infinite alternate;
}
.event-card-4
{
    grid-row: 4/7;
    grid-column:4/7;
    border: 2px solid blue; 
    border-radius: 20px;
    position: relative;
    background-image: url(images/eventimg4.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in-out;
    animation:scrollx2 5s linear infinite alternate;
}

.event-card-5
{
    grid-row: 4/7;
    grid-column:7/10;
    border: 2px solid blue; 
    border-radius: 20px;
    position: relative;
    background-image: url(images/eventimg5.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in-out;
    animation:scrollx2 5s linear infinite alternate;
    
}   

.event-card-6
{
    grid-row: 7/10;
    grid-column:1/5;
    border: 2px solid blue; 
    border-radius: 20px;
    position: relative;
    background-image: url(images/eventimg6.jpg);
    background-size: cover;
    background-position: center;
    transition: 0.3s ease-in-out;
    animation:scrollx1 5s linear infinite alternate;
}
.event-card-7
{
    grid-row: 7/10;
    grid-column:5/10;
    border: 2px solid blue; 
    border-radius: 20px;
    position: relative;
    background-image: url(images/eventimg7.jpg);
    background-size: cover;
    background-position: center;
    animation:scrollx1 5s linear infinite alternate;
}
.event-card-1:hover,.event-card-2:hover,.event-card-3:hover,.event-card-4:hover,.event-card-5:hover,.event-card-6:hover,.event-card-7:hover
{
    scale: 1.2;
    transition: 0.3s ease-in-out;
    box-shadow : 4vh 0 10vh blue,-4vh 0 10vh green; 
    z-index:10;
}
@keyframes scrollx1 
{
    0%
    {
        transform:translateX(-26px);
    }   
    100%
    {
        transform:translateX(26px);
    }
}
@keyframes scrollx2
{
    0%
    {
        transform:translateX(26px);
    }   
    100%
    {
        transform:translateX(-26px);
    }
}