* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../images/img11.jpg) no-repeat center center fixed;
    background-size: cover; 
}

.main-box {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    gap: 40px;
}

.information{
    margin-left:10vw;
    width:40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.information h1 {
    font-family:"bebas neue", sans-serif;
    margin-top:10vh;
    font-size: 50px;
    margin-bottom: 20px;
    color: #00e6b8; 
}

.information p {
    font-family: "Caveat", cursive;
    font-size: 22px;
    color: #d0f5ef;
}
.map-box {
    margin-top: 20px;
    text-align: left;
    display:none;
    width:40vw;
    font-family:"nunito", cursive;
    font-size: 20px;
}

#map {
   display: none;
   width: 100%;
   height: 250px;
   border-radius: 10px;
   margin-top: 15px;
   border : 2px solid  rgb(84, 95, 95);
   box-shadow:  0 0 10px rgb(84, 95, 95);
   border-radius: 20px;
}

.event-list {
    margin-top:10vh;
    margin-right:10vw;
    height:100%;
    background: rgba(0, 60, 80, 0.3);
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0px 0px 15px rgba(0,255,200,0.3);
}
.mapbox{
    width:100%;
    border-radius:10px;
    display:none;
    
}

.event-info
{
    margin-top:10px;
     font-size:18px;
     padding:20px;
     color:#00e6b8;
     border-radius: 12px;
    background: rgba(0, 60, 80, 0.3);
}
.event-list h2 {
    font-size: 28px;
    font-family:"bebas neue", sans-serif;
    margin-bottom: 15px;
    color: #1abc9c;
}

.event-list ul {
    list-style: none; 
    
}

.event-list ul li {
    margin: 12px 0;
   
}

.event-list ul li a {
    text-decoration: none;
    color: #ffffff;
    font-family:"bebas neue", sans-serif;
    font-size: 20px;
    transition: 0.3s;
}

.event-list ul li a:hover {
    color: #00e6b8;
}
.book-btn {
  margin-top: 20px;
  padding: 12px 30px;
  background: linear-gradient(to right, #00ffcc, #0099ff);
  border: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 2000;
}

.book-btn:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}
